.event {
  &__time-and-date {
    & span {
      font-size: 1.125rem;
      margin: 0 0.625rem;

      @include respond-below(sm) {
        display: block;
      }
    }
  }

  &__location {
    font-size: 1.25rem;
    margin-top: 0.625rem;
  }
}