html {
  font-family: 'Open Sans', sans-serif;
}

header,
main,
footer {
  padding-left: 0;
  font-size: 1rem;

  @include respond-above(md) {
    padding-left: 300px;
  }
}

main {
  height: calc(100vh - 56px);
  overflow: auto;

  @include respond-above(md) {
    height: 100vh;
  }

  & > div {
    padding: 0.9375rem;
  }
}

.page-title {
  margin: 0 0 1.424rem;

  @include respond-below(sm) {
    display: none !important;
  }
}

header {
  top: 0;
  left: 0;
  background-color: $header-bg-color;
  height: 56px!important;

  & > a i.material-icons {
    font-size: 2.5rem;
    color: white;
    padding: 0.625rem;
  }

  & > span {
    font-size: 1.25rem;
  }

  @include respond-above(md) {
    display: none !important;
  }
}

strong {
  font-weight: bold;
}

li.collection-item {
  padding: 0 !important;

  & > span {
    display: block;
    padding: 10px 20px;
  }

  & > a {
    display: block;
    padding: 10px 20px;
    transition: all 0.35s;

    &:visited,
    &:link {
      color: rgba(0, 0, 0, 0.87);
    }

    &:active,
    &:hover {
      background-color: #ffcc80;
    }
  }
}

.divider {
  margin-top: 1rem;
}