html {
  font-family: 'Open Sans', sans-serif;
}

header,
main,
footer {
  padding-left: 0;
  font-size: 1rem;

  @include respond-above(md) {
    padding-left: 300px;
  }
}

main {
  height: calc(100vh - 56px);
  overflow: auto;

  @include respond-above(md) {
    height: 100vh;
  }

  & > div {
    padding: 0.9375rem;
  }
}

.page-title {
  margin: 0 0 1.424rem;

  @include respond-below(sm) {
    display: none !important;
  }
}

header {
  top: 0;
  left: 0;
  background-color: $header-bg-color;
  height: 56px!important;

  & > a i.material-icons {
    font-size: 2.5rem;
    color: white;
    padding: 0.625rem;
  }

  & > span {
    font-size: 1.25rem;
  }

  @include respond-above(md) {
    display: none !important;
  }
}

strong {
  font-weight: bold;
}

li.collection-item {
  padding: 0 !important;

  & > span {
    display: inline-block;
    padding: 10px 20px;
  }

  & > a {
    display: block;
    padding: 10px 20px;
    transition: all 0.35s;

    &:visited,
    &:link {
      color: rgba(0, 0, 0, 0.87);
    }

    &:active,
    &:hover {
      background-color: #ffcc80;
    }
  }
}

.divider {
  margin-top: 1rem;
}

.rich-text-editor {
  background-color: #fff;
  padding: 0.625rem;

  &-wrapper {
    background-color: #fff;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;

  &-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  &-thumb {
    background-color: #F90;	
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
                          transparent 25%,
                          transparent 50%,
                          rgba(255, 255, 255, .2) 50%,
                          rgba(255, 255, 255, .2) 75%,
                          transparent 75%,
                          transparent)
  }
}

.collection-action-buttons {
  li.collection-item > a > & {
    position: relative;
    top: -6px;
  }

  li.collection-item > & {
    position: relative;
    top: 10px;
    right: -98px;

    @include respond-above(lg) {
      right: 28px;
    }
  }
}

.collapsible-action-button {
  flex: 1 0 -1px;
}